<!DOCTYPE html>
<html>
<body>
<style>
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

* {
  box-sizing: border-box;
}

html {
  
  color:black;
 
}

body {
  padding: center;
}

.timer-group {
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 200px;
  
}


.face p {
       
  border-radius: 20px;
  font-size: 76px;
  font-weight: 200;
  position: absolute;
  top: 0px;
  width: 200px;
  left: 20px;
}


</style>
<div class="timer-group">
  <div class="timer hour">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer minute">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer second">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="face">
    <p id="lazy">00:00:00</p>  
  </div>

  

<script language="JavaScript">


var defaults = {}
  , one_second = 1000
  , one_minute = one_second * 60
  , one_hour = one_minute * 60
  , one_day = one_hour * 24
  , startDate = new Date()
  , face = document.getElementById('lazy');

// http://paulirish.com/2011/requestanimationframe-for-smart-animating/
var requestAnimationFrame = (function() {
  return window.requestAnimationFrame       || 
         window.webkitRequestAnimationFrame || 
         window.mozRequestAnimationFrame    || 
         window.oRequestAnimationFrame      || 
         window.msRequestAnimationFrame     || 
         function( callback ){
           window.setTimeout(callback, 1000 / 60);
         };
}());

tick();

function tick() {

  var now = new Date()
    , elapsed = now - startDate
    , parts = [];

  parts[0] = '' + Math.floor( elapsed / one_hour );
  parts[1] = '' + Math.floor( (elapsed % one_hour) / one_minute );
  parts[2] = '' + Math.floor( ( (elapsed % one_hour) % one_minute ) / one_second );

  parts[0] = (parts[0].length == 1) ? '0' + parts[0] : parts[0];
  parts[1] = (parts[1].length == 1) ? '0' + parts[1] : parts[1];
  parts[2] = (parts[2].length == 1) ? '0' + parts[2] : parts[2];

  face.innerText = parts.join(':');
  
  requestAnimationFrame(tick);
  
}

</script>
<script language="JavaScript" ></script>

</body>
</html>